@font-face {
    font-family: 'Impact';
    src: url('Impact.woff2') format('woff2'),
        url('Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impacted';
    src: url('Impacted.woff2') format('woff2'),
        url('Impacted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impact';
    src: url('Impact.woff2') format('woff2'),
        url('Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

