.chats-full {
    height: 80vh;
}
.select-room-section {
    height: 100%;
    border: 1px solid #ec0b43;
    background: #404040;
}
.chat-view {
    height: 100%;
    border: 1px solid #ec0b43;
}
.search-rooms input {
    background-color: inherit !important;
    border: none;
    font-size: 10px;
    font-weight: 300;
    color: white !important;
}
.search-rooms input::placeholder {
    color: white;
    font-weight: 300;
    font-size: 9px;
}
.search-rooms input:active,  .search-rooms input:focus{
    outline: none;
    box-shadow: none;
}
.chat-group-title {
    font-size: 12px;
    color: white;
    font-weight: 400;
}
.chat-nav-links {
    max-height: 67.5vh;
}
.room-title-information {
    min-height: 10%;
    font-size: 12px;
    font-weight: 400;
    background: #676767;
    border-bottom: .1px solid grey;
}
.chat-view-actual {
    height: 90%;
    background: #676767;
}
.floating-chat-day {
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 10px;
    background: #404040;
    color: white;
    font-size: 8px;
    padding: 8px 15px;
    z-index: 5;
}
.chat-message .chat-author {
    
    font-size: 12px;
    color: white;
}
.chat-message .chat-message-con {
    
    font-size: 12px;
    padding: 10px 20px;
}
.chat-message-right .chat-message-con{
    border-radius: 0px 25px 25px 25px;
    background: white;
}
.chat-message-left .chat-message-con{
    border-radius: 25px 0px 25px 25px;
    background: #ec0b43;
    color: white;
}
.chat-author-image {
    height: 2.5vh;
    width: 2.5vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.chat-author-image img{
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
}
.input-message-area {
    height: 8vh;
    position: sticky;
    bottom: 0px;
    background: #676767;
}

.input-message-area .form-group {
}
.input-message-area input {
    height: 6vh;
    border-radius: 20px;
    background: #404040;
    color: black;
    font-size: 12px;
    border: none;
}
.input-message-area input:active, .input-message-area input:focus{
    outline: none;
    box-shadow: none;
    background: #404040;
    color: black;
}
.input-message-area input::placeholder {
    color: black;
    font-size: 10px;
    font-weight: 300;
}
.input-icon {
    color: black;
    position: absolute;
    top: 40%;
    left: 18px;
    cursor: pointer;
    z-index: 20;
}
.attachments-button {
    border-radius: 50%;
    height: 100%;
}
.back-to-select-room-icon {
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.back-to-select-room span{
    font-size: 10px;
}
.add-to-favourite-btn {
    float: right;
}
.add-to-favourite-btn  span{
    font-size: 10px;
}

.add-to-favourite-btn span {
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 500;
    transition: 1s all ease;
}
.add-to-favourite-btn span:hover {
    color: #e6e6e6;
    background: #ec0b43;
    border: 1px solid #e6e6e6;
    transform: scale(1.003);
}

.add-to-favourite-btn .icon{
    color: white;
    height: 25px;
    width: 25px;
}
.chat-dom {
    height: 80vh;
}
.state-li {
    transition: 1s all ease;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.state-li:hover{
    background: #ec0b43;
    transform: scale(0.9);
}
.dropdown-div {
    display: none;
}
@media screen and (max-width: 768px) {
    .chat-view-actual {
      margin-bottom: 30vh;
    }
    .input-message-area form {
        padding: 2px !important;
    }
    .back-to-select-room span{
        font-size: 8px;
    }
    .add-to-favourite-btn  span{
        font-size: 8px;
    }
    
    /* .attachments-div {
        margin-top: 3px;
    }
    .attachments-button {
        margin-left: 0px !important;
        display:block;
    }
    .send-chat-button {
        margin-top: 3px;
    } */
  }
@media screen and (max-width: 400px) {
    
    
}