.feed-image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.feeds-showcase-single {
    height: 35vh;
}
.feed-image {
    height: 30vh;
    border-radius: 5px;
    cursor: pointer;
}
.post-author-image {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.post-author-image img{
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
}