.feed-image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.feeds-showcase-single {
    height: 227.15px;
}
.feed-image {
    height: 194.7px;
    border-radius: 5px;
    cursor: pointer;
}
.post-author-image {
    height: 19.47px;
    width: 19.47px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.post-author-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.upload-input {
    background: inherit !important;
    border: none;
    border-bottom: 1px solid #d61545;
}