@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Impact';
    src: url('Impact.woff2') format('woff2'),
        url('Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impacted';
    src: url('Impacted.woff2') format('woff2'),
        url('Impacted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impact';
    src: url('Impact.woff2') format('woff2'),
        url('Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.color-white {
    color: white;
}

body {
    background: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
  }
  label {
    font-size: 12px;
  }
  input, textarea, select {
    background: #f3f2f2 !important;
    border-radius: 2px !important;
    resize: none;
  }
  form {
    box-sizing: border-box;
  }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  button:focus,
  select:focus,
  .uneditable-input:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: 0 none !important;
  }
  .input-class:focus {
    border-color:#d61545 !important;
  }

  .scroller{
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(185, 184, 184);
  }
  .scroller::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .scroller::-webkit-scrollbar-track {
    background:  rgb(185, 184, 184);
    border-radius: 10px;
    display: none;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    background:  rgb(185, 184, 184);
  }
  .scroller::-webkit-scrollbar-thumb:hover {
    background:  white;
    border-color: #3f3d56;
    border-radius: 10px;
  }

.poppins-font {
    font-family: 'Poppins', sans-serif;
}

.impact-font {
    font-family: 'impact';
}


.sorosoke-loader {
    height: 100vh;
    position: absolute;
    pointer-events: none;
    background: #151314;
    background-position: center;
    background-size: cover;
    z-index: 9;
}
.loader-logo {
    width: 40vh;
}
.loader-logo img {
    width: 40vh;
}

.font-12px {
    font-size: 12px;
}

.scroller {
    overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
    width: 4px;
}

.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px#d61545;
}
#uploadModal .modal-dialog{
    margin: 0;
    margin-left: auto;
}
#uploadModal .mobile-dialog {
    top: 60%;
}
#uploadModal .mobile-dialog .modal-content{
    border-radius: 4vh;
}
#uploadModal .modal-content{
    height: 100vh;
}
.drag-click-box {
    height: 30vh;
    border: 1px dashed #d61545;
}
.user-section-desktop {
    border-right: 2px solid #ec0b43;
    border-top: 1px solid transparent;
    height: 100%;
    background: #404040;
}
.user-image-desktop {
    height: 97.35px;
    width: 97.35px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.user-image-desktop-sm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.user-image-desktop img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}
.user-image-desktop-sm img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}

.user-image-mobile {
    height: 38.94px;
    width: 38.94px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.user-image-mobile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}
.user-image-desktop:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.page-nav-links ul li  {
    min-height: 50px;
    border-radius: 0px 25px 25px 0px;
    cursor: pointer;
}
.small-links ul li  {
    border-radius: 0;
}
.chat-nav-links ul li {
    min-height: 30px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.chat-nav-links ul li a, .chat-nav-links ul li span {
    color: white !important;
    font-size: 10px;
    font-weight: 200;
}
.page-nav-links ul li a {
    color: white !important;
    font-size: 13px;
    font-weight: 500;
}
.mobile-page-nav a {
    color:#868686 !important;
    font-size: 13px;
    font-weight: 400;
}
.mobile-page-nav.active a {
    color:#ec0b43 !important;
}
.page-nav-links ul li.active {
    background: #ec0b43;
}
.chat-nav-links ul li.active {
    background: #ec0b43;
}
.main-section {
    height: 100vh;
    overflow: hidden;
    background: black;
}
.main-section-header-text button {
    height: 51.92px;
    width: 149.27px;
}
.content-showcase {
    max-height: 100vh;
    /* padding-bottom: 15vh; */
}
.mobile-nav {
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
.mobile-upload button{
    position: absolute;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    right: 5%;
    bottom: 10%;
    z-index: 10;
    background: #ec0b43;
}
.mobile-upload button:focus, .mobile-upload button:active{
    outline: none;
    box-shadow: none;
}
.little-dash {
    display: inline-block;
    width: 25px;
    border-top: 2px solid #ec0b43;
    margin-bottom: 1px;
}
.btn-brand {
    background: #ec0b43;
    color: white;
    font-weight: 300;
}
.btn-brand:hover {
    background: #6d051d;
    color: white;
    font-weight: 300;
}
.page-full {
    max-height: 100vh;
}
.click-here-twitter {
    display: none;
}
@media(max-width: 992px) {
    .content-showcase {
        max-height: 70vh;
    }
}
@media(max-width: 768px) {
    .loader-logo {
        width: 30vh;
    }
    .loader-logo img {
        width: 30vh;
    }
}
@media(max-width: 335px) {
    .content-showcase {
        max-height: 60vh;
    }
}